<div>
<h3> Comedian </h3>
      <form action="/comedians" method="get">

          <div>
            <label for="name_box">
              Comedian Name
            </label>

            <input type="text" id="name_box" name="query_name">
          </div>
          <div>
            <label for="location_box">
              Location
            </label>

            <input type="text" id="location_box" name="query_location">
          </div>

          <button>
            Search
          </button>          

<div>
